*{
margin: 0px;
padding: 0px;
}

body{
font-family: "Trebuchet MS";
  font: 15px/1.5 Open Sans, Arial;
  color: white;
  background-color:#eee;
  position: relative;
    width: 1280px;
  display: block;
    margin: 0 auto;
}


#image {
    height: 500px;
    min-height: 550px;
    width: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('backgrounds/lighthouse.jpg');
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    position: relative;
    z-index: 1;
}

.intro {
  display: block;
  margin: 0 auto;
  width: 70%;
  height: 70%;
  background-color: rgba(0, 0, 0, 0.4);
}

#image img{
    display: block;
	margin: 0 auto;
	padding:50px;
	padding-bottom: 10px;
	width: 30%;
}

#image h1{
	text-align: center;
	font-size: 300%;
/*	padding-left: 45px;
*/	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

#image p{
	text-align: center;
	font-size: 100%;
/*	padding-left: 40px;
*/	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}


/*
****************************************************************************************************************************
****************************************************************************************************************************
*/

.nav {
    border-bottom: 1px solid #EAEAEB;
    text-align: right;
    height: 70px;
    line-height: 70px;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
}
.menu {
    margin: 0 30px 0 0;
}
.menu a {
    clear: right;
    text-decoration: none;
    color: gray;
    margin: 0 10px;
    line-height: 70px;
}

span {
    color: #00aced;
}

label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
}
#toggle {
    display: none;
}


@media only screen and (max-width: 500px) {
    label {
        display: block;
        cursor: pointer;
        color: #54D17A;
    }
    #image {
      background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('red-background.svg');

    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
        background-color: white;

    }
    .menu a {
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;
     
    }
    #toggle:checked + .menu {
        display: block;
    }
    
    
}


/*
****************************************************************************************************************************
****************************************************************************************************************************
*/

#content {
    width: 100%;
    margin-top:-10px; 
  	background-color:#eee;
    position: relative;
    z-index: 1;
}

.skills {
	background-color:  /*#8368c2*/  /*#6f68c2*/ #68c28c;
	padding-bottom: 20px;
	float: left;
	width: 100%
}

.skills h3 {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	color: white;
	padding-left: 70px;
	font-size: 170%;
}
.skills ul{
	float: left;
	list-style: none;
	padding: 50px;
	padding-top: 10px;

}

.skills li {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 120%;
}


#content h1{
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	color: black;
	padding: 10px;
	padding-left: 50px;
	font-size: 250%;

}

.git  {
	width:12%;
	padding-left: 50px;
  padding-bottom: 50px;

}
.git_arrow{
		width:12%;
    padding-left: 50px;
	padding-left: 50px;
  padding-bottom: 50px;
}

.git {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
 .git:hover {
  -webkit-transform: rotate(-10deg);
     -moz-transform: rotate(-10deg);
       -o-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
}


.work{
	  width: 97%;
    margin: 10px;
    background-color: white;
    display: inline-block;
}
.work p{
	float: left;
    font-size: 120%;
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: left;
    line-height: 28px;
    color: black;
    width: 60%
}

.work img{
  float: left;
  width: 100%;
  height: 100%;
  max-height: 250px;
  max-width: 250px;
  padding: 30px;
}

.work:hover{
  -moz-box-shadow: 0 0 15px #ccc;
  -webkit-box-shadow: 0 0 15px #ccc;
  box-shadow: 0 0 30px #ccc; 
}


footer{
  float: right;
  padding:20px;

  margin-top:20px;
  background-color: white;
  color:#a0a0a0;
  }

#footer {
  text-align: center;
}
footer img{
  float: center;
  width:4%;
  padding: 15px;
}

#footer: hover {
  width: 100%;
}
